:root {
    --dark-blue: #363f5f;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 93.75%;
}
body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: min(90vw, 800px);
    margin: auto;

}
/* titles*/
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);

    font-weight: 400;
}
/* buttons */



/* HEADER =================================== */
header {
    background: #0D4014;
    padding: 2rem 0 10rem;
    text-align: center;
}
#logo {
    color: #ffffff;
    font-weight: 100;
}
/* MAIN =================================== */
/* balance */
#balance {
    margin-top: -8rem;
}
#balance h2 {
    color: #ffffff;
    margin-top: 0;
}
.card {
    background: #ffffff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-top: 2rem;
    color: var(--dark-blue);
}
.card h3 {
    font-weight: 400;
    font-size: 1rem;
}
.card p{
    font-size: 2rem;
    line-height: 3rem;

    margin-top: 1rem;
}
.card.total{
    background: #49aa26;
    color: #ffffff;
}
/* table */

/* MODAL =================================== */
/* form */


/*  FOOTER =================================== */
 footer{
     text-align: center;
 }

 /* RESPONSIVE */

 /* @media (min-width: 800px) {
    html{
        font-size: 87.5%;
    }

    #balance{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
} */